<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
      width="30" height="30" alt="">
  </a>
  <!-- <a class="navbar-brand" href="#">Home</a>  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button type="button" class="btn btn-info" (click)='buy()'>Poruči čekirane proizvode</button>

    </div>
  </div>
</nav>



<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Proizvođač</th>
      <th scope="col">Količina</th>
      <th scope="col">Tip</th>
      <th scope="col">Pr. ocena proizvoda</th>
      <th scope="col">Dostupnost</th>
      <th scope="col">Info</th>
      <th scope="col">Količina</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tr class="col" *ngFor='let ras of proizvodi; index as i'>
    <td>{{ras.naziv}}</td>
    <td> {{ras.proizvodjac}}</td>
    <td> {{ras.kolicina}}</td>

    <td>{{ras.tip}}</td>
    <td>{{ras.prosecnaOcena}}</td>
    <td>
      <div *ngIf='!ras.available'>
        Proizvod nije dostupan
      </div>
      <div *ngIf='ras.available'>
        Proizvod je dostupan
      </div>
    </td>
    <td>
      <button type="button" class="btn btn-outline-success" (click)='showInfo(ras,i)' >More Info</button>
    </td>
    <td>
      <div *ngIf='ras.available'>
        <input type="number" name="kolicina" [style.width.%]="30" [(ngModel)]='kolicineProizvoda[i]'>
      </div>
      <div *ngIf='!ras.available'>
        <input type="number" name="kolicina" [style.width.%]="30" disabled>
      </div>
    </td>
    <td>
      
      <div *ngIf='ras.available'>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]='checkArray[i]'>
          <label class="form-check-label" for="defaultCheck1">
            Naruči ovaj proizvod
          </label>
        </div>
    </div>

      <div *ngIf='!ras.available'>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
        <label class="form-check-label" for="defaultCheck2">
          Ne možete naručiti ovaj proizvod
        </label>
      </div>
    </div>

    </td>
  </tr>

  <tr *ngFor='let flag of flags'>
  <!-- if flags[i] then for comm in com display -->
   <div *ngIf='flag'>
    <table>
      <tr>
        <th>Korisnik</th>
        
        <th>Komentar</th>
        
        <th>Ocena</th>
      </tr>
      <tr *ngFor='let com of komentari'>
        <td>{{com.username}}</td>
        <td>{{com.komentar}}</td>
        <td>{{com.ocena}}</td>
      </tr>
    </table>

   </div> 


  </tr>

</table>

