.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://cdn1.vectorstock.com/i/1000x1000/84/45/green-grass-background-vector-1448445.jpg');
    background-position:50% 50%;
  }