
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png" width="30" height="30" alt="">
    </a>
  
  
    <!-- <a class="navbar-brand" href="#">Home</a>  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/onlineprod">Online  prodavnica</a>
        <a class="nav-item nav-link" href="/magacin">Magacin</a>
      </div>
    </div>
  </nav>

<div class="image">
    <div align="center">
<table>
    <tr>
        <td class="badge badge-dark text-wrap" style="width: 6rem;">
            Temperatura:
        </td>
        <td >
            <div class=" btn-group-vertical">
                <button class="btn btn-dark btn-sm" (click)="changeTemp('plus')">+</button>
                <button class="btn btn-dark btn-sm" (click)="changeTemp('minus')">-</button>
            </div>
        </td>
        <td  class="badge badge-dark text-wrap" style="width: 6rem;">
            Voda:
        </td>
        <td>
            <div class=" btn-group-vertical">
                <button class="btn btn-dark btn-sm" (click)="changeWater('plus')" >+</button>
                <button class="btn btn-dark btn-sm" (click)="changeWater('minus')">-</button>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="badge badge-light text-wrap" style="width: 6rem;">
                {{myRas.temperatura}}
            </div>              
        </td>
        <td></td>
        <td >
        
            <div class="badge badge-light text-wrap" style="width: 6rem;">
                {{myRas.kolVode}}
            </div>              
        
        </td>
        <td></td>
    </tr>
</table>

<br>
<br>
<br>



<table>  
<tr *ngFor='let ras of sadnice; index as i'>
     
    <td *ngFor='let elem of ras; index as j'>
      
        <div *ngIf='sadnice[i][j] && !sadnice[i][j].izvadjena'>
            <img (mouseover)="showInfo(i,j)" src="https://i.pinimg.com/originals/c4/47/9a/c4479aa2157ec92cb1a96dfe9d78ba18.png" height="100" width="100">
        </div>

        
        <div *ngIf='sadnice[i][j] && sadnice[i][j].izvadjena'>
            <img src="https://www.pngarts.com/files/1/Rabbit-Hole-PNG-Transparent-Image.png" height="100" width="100">
        </div>

        <div *ngIf='!sadnice[i][j]'>
            <img (click)='zasadi(i,j)' src="http://grassdepartment.com/wp-content/uploads/2015/04/tiling-cartoon-dirt-307x307.png" height="100" width="100" >
        </div>
    </td>
    
    
</tr>

</table>



</div>
</div>