<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png" width="30" height="30" alt="">
    </a>
  
  
    <!-- <a class="navbar-brand" href="#">Home</a>  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/dodajras">Dodaj rasadnik</a>
      </div>
    </div>
  </nav>
  


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Mesto</th>
            <th scope="col">Broj sadnica</th>
            <th scope="col">Broj slobodnih sadnica</th>
            <th scope="col">Kolicina vode</th>
            <th scope="col">Temperatura</th>
            <th scope="col">
            </th>

        </tr>
    </thead>
    
        <tr *ngFor='let ras of rasadnici'>
            <td>{{ras.naziv}}</td> 
            <td> {{ras.mesto}}</td>
            <td> {{ras.brojSadnica}}</td>
            <td> {{ras.brojSlMesta}}</td>
            <td> {{ras.kolVode}}</td>
            <td> {{ras.temperatura}}</td>
            <td>
                <button (click)='show(ras)' >Prikaži rasadnik</button>
            </td>
        </tr>
    </table>
    