<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Always expand</a> -->
    <a class="navbar-brand" href="#">
        <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
          width="30" height="30" alt="">
      </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
    
        </ul>
      <form class="form-inline my-2 my-md-0">
        <button type="button" class="btn btn-dark" (click)='logout()'>Logout</button>
      </form>
    </div>
  </nav>




<div align="center">
<table>
    <tr>
        <td>
            <tr>
                <td>
                    Naziv
                </td>
                <td>
                    <input type="text" name="naziv" [(ngModel)]="naziv">
                </td>
            </tr>

        <tr>

        <td>  
                Mesto
        </td>
        <td>
                <input type="text" name="mesto" [(ngModel)]="mesto">
        </td>
    </tr>

    <tr>
        <td>
               Širina
        </td>
        <td>
            <input type="text" name="sirina" [(ngModel)]="sirina">
        </td>
    </tr>
    
    <tr>
        <td>
                Dužina
        </td>
        <td>
            <input type="text" name="duzina" [(ngModel)]="duzina">
        </td>
    </tr>

    <tr>

        <td colspan="2">
        
            <div class="form-actions">
               <button (click)='dodajRasadnik()' class="col-md-2" class="btn btn-primary">Dodaj rasadnik</button>
           </div>
   
           </td>
    </tr>
</table>

</div>









