<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
        width="30" height="30" alt="">
    </a>
    <!-- <a class="navbar-brand" href="#">Home</a>  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
  
        
        <a class="nav-item nav-link" href="/registracija">Registruj se</a>
        <a class="nav-item nav-link" href="/registracijapreduzeca">Registruj preduzeće</a>

      </div>
    </div>
  </nav>
  

<div class="image">

<div align="center">
    <br/>
    <br/>
    <br/>
    <br/>
    
<form method="POST">
    <table>
        <tr>
            <td>Korisničko ime:</td>
            <!-- <td> -->
                <input type='text' name='korime' [(ngModel)]='korime'/>
            <!-- </td> -->
        </tr>
        <tr>
            <td>Lozinka:</td>
                <input type='password' name='lozinka' [(ngModel)]='lozinka'/>
         
        </tr>
    

        
        <tr>
            <td colspan="2">
        
             <div class="form-actions">
                <button (click)='login()' class="col-md-2" class="btn btn-primary">Login</button>
            </div>
    
            </td>
        </tr>

    </table>
</form>
</div>

</div>