
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Always expand</a> -->
  <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
        width="30" height="30" alt="">
    </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <button type="button" class="btn btn-warning" (click)='sort()'>Sortiraj po datumu </button>
              </li>
      <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)='view()'>Pogledaj proizvode</button>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)='addProduct()'>Dodaj proizvod</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <button type="button" class="btn btn-dark" (click)='logout()'>Logout</button>
    </form>
  </div>
</nav>



  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Tip</th>
        <th scope="col">Naziv</th>
        <th scope="col">Količina</th>
        <th scope="col">Username</th>
        <th scope="col">Datum</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
  
      <tr class="red" *ngFor='let ras of priorityOrders; index as i'>
        <td>{{ras.tip}}</td>
        <td> {{ras.naziv}}</td>
        <td> {{ras.kolicina}}</td>
    
        <td>{{ras.username}}</td>
        <td>{{ras.datum}}</td>
        <td>
          <div *ngIf='priorityFlags[i]'>
          <button type="button" class="btn btn-success" (click)='accept(ras,i,"priority")' disabled>Prihvati narudžbinu </button>
        </div>
        
        <div *ngIf='!priorityFlags[i]'>
          <button type="button" class="btn btn-success" (click)='accept(ras,i,"priority")'>Prihvati narudžbinu </button>
        </div>
        </td>
        <td>

          <td>
          <div *ngIf='priorityFlags[i]'>
            <button type="button" class="btn btn-danger" (click)='decline(ras,i,"priority")' disabled>Odbij narudžbinu</button>
        </div>
        
        <div *ngIf='!priorityFlags[i]'>
          <button type="button" class="btn btn-danger" (click)='decline(ras,i,"priority")'>Odbij narudžbinu</button>
        </div>

        </td>
        <td></td>
      </tr>
  

    <tr *ngFor='let ras of myOrders; index as i'>
      <td>{{ras.tip}}</td>
      <td> {{ras.naziv}}</td>
      <td> {{ras.kolicina}}</td>
  
      <td>{{ras.username}}</td>
      <td>{{ras.datum}}</td>
      <td>
        <div *ngIf='regularFlags[i]'>
        <button type="button" class="btn btn-outline-success" (click)='accept(ras,i,"regular")' disabled> Prihvati narudžbinu</button>
        </div>
        <div *ngIf='!regularFlags[i]'>
          <button type="button" class="btn btn-outline-success" (click)='accept(ras,i,"regular")' > Prihvati narudžbinu</button>
          </div>
          
      </td>
      <td>
      
        
        <div *ngIf='regularFlags[i]'>
          <button type="button" class="btn btn-outline-danger"  (click)='decline(ras,i,"regular")'  disabled>Odbij narudžbinu</button>
          </div>
          <div *ngIf='!regularFlags[i]'>
            <button type="button" class="btn btn-outline-danger"  (click)='decline(ras,i,"regular")'  >Odbij narudžbinu</button>
            </div>
      </td>
      <td></td>
    </tr>
  
  </table>
