<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png" width="30" height="30" alt="">
    </a>
    <!-- <a class="navbar-brand" href="#">Home</a>  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        
        <button type="button" class="btn btn-warning" (click)='sort()'>Sortiraj</button>
        <select class="custom-select" name='sortBy' [(ngModel)]='sortBy'>
          <option> ..po nazivu </option>
          <option> ..po proizvođaču </option>
          <option> ..po količini</option>
      </select>

      
 <button type="button" class="btn btn-warning" (click)='filter()'>Filtriraj</button>
      <select class="custom-select" name='filterByP' [(ngModel)]='filterByP'>
        <option>..po proizvođaču</option>
        <option  *ngFor='let ras of  filtrirajP' > {{ras}} </option>
     </select>
    
     <select class="custom-select" name='filterByK' [(ngModel)]='filterByK'>
      <option>..po količini</option>
      <option  *ngFor='let ras of  filtrirajK' > {{ras}} </option>
   </select>
   <select class="custom-select" name='filterByN' [(ngModel)]='filterByN'>
    <option>..po nazivu</option>
    <option  *ngFor='let ras of  filtrirajN' > {{ras}} </option>
 </select>



      </div>
    </div>
  </nav>

  <div *ngIf='myCoords'>


    <table class="table">
      <thead class="thead-light">
          <tr>
              <th scope="col">Naziv</th>
              <th scope="col">Proizvođač</th>
              <th scope="col">Količina</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              
          </tr>
      </thead>
  
      <tr *ngFor='let ras of mojiProizvodi'>
        <td>{{ras.naziv}}</td> 
        <td> {{ras.proizvodjac}}</td>
        <td> {{ras.kolicina}}</td>
        <td>
        <div *ngIf='!ras.arrived'>
          <button type="button" class="btn btn-danger">Otkazi narudžbinu</button>
        </div>
        </td>
        <td>
          <div *ngIf='ras.arrived'>      
            <button type="button" class="btn btn-success" (click)='zasadi(ras)'>Zasadi</button>
          </div>
        </td>
      <td>

      </td>
    </tr>
  
      </table>

  </div>
  

  <div *ngIf='!myCoords'>


    <table class="table">
      <thead class="thead-light">
          <tr>
              <th scope="col">Naziv</th>
              <th scope="col">Proizvođač</th>
              <th scope="col">Količina</th>
              <th scope="col"></th>
              <th scope="col"></th>
          </tr>
      </thead>
  
      <tr *ngFor='let ras of mojiProizvodi'>
     
        <td>{{ras.naziv}}</td> 
        <td> {{ras.proizvodjac}}</td>
        <td> {{ras.kolicina}}</td>
        <td>
          <div *ngIf='!ras.arrived'>
          <button type="button" class="btn btn-danger">Otkazi narudžbinu</button>
        </div>
        </td>
        <td>
        </td>
   
    </tr>
  
      </table>

  </div>
  
  

    