<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Always expand</a> -->
    <a class="navbar-brand" href="#">
        <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
          width="30" height="30" alt="">
      </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
    
        </ul>
      <form class="form-inline my-2 my-md-0">
        <button type="button" class="btn btn-dark" (click)='logout()'>Logout</button>
      </form>
    </div>
  </nav>

  
<div class="image">
    <mat-horizontal-stepper>
    <mat-step label="Tip proizvoda">
        <br>

        <div align="center">
        <p>Unesi tip proizvoda (sadnica ili preparat)</p>
            <input type="radio" name="tip" value='S' [(ngModel)]='tip'/> Sadnica
            <input type="radio" name="tip" value='P' [(ngModel)]='tip'/> Preparat
            

        <!-- <input type="text" name="proizvodjac"/> -->
        <hr/>
        <button class="btn btn-outline-info" matStepperNext>Napred</button>

        </div>
    </mat-step>
    <mat-step label="Naziv proizvoda">
        <br>
        
        <div align="center">
        <p> Unesite naziv proizvoda</p>
        <div>
            <input type="text" name="naziv" [(ngModel)]='naziv'/>
            <hr/>
            <button class="btn btn-outline-info" matStepperPrevious>Nazad</button>
            <button class="btn btn-outline-info" matStepperNext>Napred</button>
        </div>
    </div>
    </mat-step>
    
    <mat-step label="Kolicina">
        <br>
        
        <div align="center">
        <p> Unesite kolicinu proizvoda</p>
        <div>
            <input type="number" name="kolicina" [(ngModel)]='kolicina'>
            <hr/>
            <button class="btn btn-outline-info" matStepperPrevious>Nazad</button>
            <button class="btn btn-outline-info" matStepperNext>Napred</button>
        </div>
    </div>
    </mat-step>
    
    <mat-step label="Cena proizvoda">
        <br>
        
        <div align="center">
        <p> Unesite cenu pojedinacnog proizvoda</p>
        <div>
            <input type="number" name="cena" [(ngModel)]='cena'>
            <hr/>
            <button class="btn btn-outline-info" matStepperPrevious>Nazad</button>
            <button class="btn btn-outline-info" matStepperNext>Napred</button>
        </div>
    </div>
    </mat-step>
    <mat-step label="Zavrsi">
        <br>
        <br>
        <div align="center">
        <p>Zavrsili ste</p>
        <button class="btn btn-outline-info" matStepperPrevious>Nazad</button>
        <button class="btn btn-outline-info" (click)='addProduct()'>Predaj</button>

        </div>
    </mat-step>
</mat-horizontal-stepper>

</div>
