<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
  <!-- <a class="navbar-brand" href="#"> -->
    <!-- <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png" width="30" height="30" alt=""> -->
  <!-- </a> -->


  <!-- <a class="navbar-brand" href="#">Home</a>  -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
  <!-- </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <!-- <div class="navbar-nav"> -->
      <!-- <a class="nav-item nav-link" href="/prijava">Login</a> -->
      <!-- <a class="nav-item nav-link" href="/registracija">Registruj se</a> -->
      <!-- <a class="nav-item nav-link" href="/registracijapreduzeca">Registruj preduzeće</a> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </nav> -->

<span></span>

<flash-messages></flash-messages>
<router-outlet></router-outlet>
