.image{
  background-color: slateblue;
  background-image: url('https://wallpaperaccess.com/full/16676.jpg');
}


.image1{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://wallpaperaccess.com/full/16676.jpg');
    background-position:50% 50%;
    background-repeat:repeat-x;
  }