<div class="image">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="#">Always expand</a> -->
        <a class="navbar-brand" href="#">
            <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
              width="30" height="30" alt="">
          </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="admin#addUser">Dodaj korisnika/preduzece</a>
                    </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="admin#changeData">Izmeni podatke</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <button type="button" class="btn btn-dark" (click)='logout()'>Logout</button>
          </form>
        </div>
      </nav>
  
<table class="table">
<thead class="thead-light">
    <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Korisničko ime</th>
        <th scope="col">Datum rođenja</th>
        <th scope="col">Mesto rođenja</th>
        <th scope="col">Telefon</th>
        <th scope="col">Elektronska pošta</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
</thead>

    <tr *ngFor='let user of users'>
        <td>{{user.ime}}</td> 
        <td> {{user.prezime}}</td>
        <td> {{user.username}}</td>
        <td> {{user.date}}</td>
        <td> {{user.place}}</td>
        <td> {{user.phone}}</td>
        <td>{{user.mail}}</td>
        <td>
            <button class="btn btn-primary" (click)='odobri(user.username)'>Odobri</button>
        </td>
        <td>
            <button class="btn btn-primary"  (click)='odbij(user.username)'>Odbij</button>
        </td>
    </tr>
</table>

<br/>
<br/>
<br/>
<br/>
<br/>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Pun naziv:</th>
            <th scope="col">Skraćeni naziv</th>
            <th scope="col">Datum osnivanja</th>
            <th scope="col">Mesto preduzeća</th>
            <th scope="col">Elektronska pošta</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    
        <tr *ngFor='let user of preduzeca'>
            <td>{{user.naziv}}</td> 
            <td> {{user.username}}</td>
            <td> {{user.date}}</td>
            <td> {{user.place}}</td>
            <td>{{user.mail}}</td>
            <td>
                <button class="btn btn-primary" (click)='odobri(user.username)'>Odobri</button>
            </td>
            <td>
                <button  class="btn btn-primary" (click)='odbij(user.username)'>Odbij</button>
            </td>
        </tr>
    </table>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" name="addUser">
        <b>Dodavanje korisnika</b>
        </a>
        <!-- <a class="navbar-brand" href="#">Home</a>  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
    
            
            <!-- <a class="nav-item nav-link" href="/">Dodaj korisnika/preduzece</a> -->
            <!-- <a class="nav-item nav-link" href="/">Izmeni podatke</a> -->
      
          </div>
        </div>
      </nav>

      <br>
      <br>
      <br>
      

     
      <div class="container">
        <div class="row">
          <div class="col-sm">
              <b>Dodaj poljoprivrednika</b>
              <table>
                <tr>
                    <td>Ime:</td>
                    <td>
                        <input type='text' name='ime' [(ngModel)]='ime'/> 
                    </td>
                </tr>
                
                <tr>
                    <td>Prezime:</td>
                    <td>
                        <input type='text' name='prezime' [(ngModel)]='prezime' /> 
                    </td>
                </tr>
                
                <tr>
                    <td>Korisničko ime:</td>
                    <td>
                        <input type='text' name='korime' [(ngModel)]='korime' /> 
                    </td>
                </tr>
        
                
                <tr>
                    <td>Lozinka:</td>
                    <td>
                        <input type='password' name='lozinkaPolj' [(ngModel)]='lozinkaPolj'/> 
                    </td>
                </tr>
        
                <tr>
                    <td>Datum rođenja:</td>
                    <td>
                        <input type='date' name='datumPolj' [(ngModel)]='datumPolj' required/> 
                    </td>
                </tr>
        
                <tr>
                    <td>Mesto rođenja:</td>
                    <td>
                        <input type='text' name='mestoPolj' [(ngModel)]='mestoPolj' required/> 
                    </td>
                </tr>
        
                <tr>
                    <td>Kontakt telefon:</td>
                    <td>
                        <input type='text' name='telefon' [(ngModel)]='telefon' required/> 
                    </td>
                </tr>
        
                <tr>
                    <td>Adresa elektronske pošte:</td>
                    <td>
                        <input type='email' name='mejlPolj' [(ngModel)]='mejlPolj' required/> 
                    </td>
                </tr>   

                <tr>
                    <td colspan="2">
                        <div class="form-actions">
                        <button type='submit'  class="btn btn-primary">Registruj poljoprivrednika</button>
                        </div>
                    </td>
                </tr>
        
            </table>
          </div>
          <div class="col-sm">
              <b>Dodaj preduzece</b>
              <table>
                <tr>
                     <td>   
                        Pun naziv preduzeća:
                     </td>   
                    <td>
                        <input type='text' name='naziv' [(ngModel)]='naziv'>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Skraćeni naziv preduzeća:
                    </td>
                    <td>
                        <input type='text' name='skracenica' [(ngModel)]='skracenica'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Lozinka:
                    </td>
                    <td>    
                        <input type='password' name='lozinka' [(ngModel)]='lozinka'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Datum osnivanja preduzeća:
                    </td>
                    <td>
                        <input type='date' name='datum' [(ngModel)]='datum'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mesto preduzeća:    
                    </td>
                    <td>
                        <input type='text' name='mesto' [(ngModel)]='mesto'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Adresa elektronske pošte:
                    </td>
                    <td>
                        <input type='email' name='mejl' [(ngModel)]='mejl' class="form-control">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-actions">
                        <button type='submit'  class="btn btn-primary">Registruj preduzece</button>
                        </div>
                    </td>
                </tr>
                </table>
          </div>
        </div>
      </div>







      <br/>
      <br/>
      <br/>
      <br/>      
      <br/>
      <br/>
      <br/>
      <br/>

      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" name="changeData">
        <b>Azuriranje podataka</b>
        </a>
        <!-- <a class="navbar-brand" href="#">Home</a>  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          </div>
        </div>
      </nav>


    <br>
    <br>

    <div class="container">
        <div class="row">
          <div class="col-sm">
              <table class="table table-dark">
                  <thead>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                 </thead>
                  <tbody>
                  <tr *ngFor='let user of korisnici; index as i'>
                    <th scope="row">{{i}}</th>
                    <td>      <a (click)='updateUser(user)'  class="nav-item nav-link" href="admin#changeData">{{user.username}}</a></td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col-sm">
          </div>
          
          <div class="col-sm">
              <div *ngIf='currentUser.typeOfUser=="preduzece"'>
            <table>
                <tr>
                     <td>   
                        Pun naziv preduzeća:
                     </td>   
                    <td>
                        <input type='text' name='naziv' [(ngModel)]='currentUser.naziv'>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Skraćeni naziv preduzeća:
                    </td>
                    <td>
                        <input type='text' name='skracenica' [(ngModel)]='currentUser.username' disabled>
                    </td>
                </tr>
                <tr>
                    <td>
                        Datum osnivanja preduzeća:
                    </td>
                    <td>
                        <input type='text' name='datum' [(ngModel)]='currentUser.date'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mesto preduzeća:    
                    </td>
                    <td>
                        <input type='text' name='mesto' [(ngModel)]='currentUser.place'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Adresa elektronske pošte:
                    </td>
                    <td>
                        <input type='text' name='mejl' [(ngModel)]='currentUser.mail'>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-actions">
                        <button type='button' (click)='update(currentUser)'  class="btn btn-primary">Update</button>
                        </div>
                    </td>
                </tr>
                </table>
            </div>
            
            <div *ngIf='currentUser.typeOfUser=="poljoprivrednik" || currentUser.typeOfUser=="admin" '>
            
                <table>
                    <tr>
                         <td>   
                            Ime:
                         </td>   
                        <td>
                            <input type='text' name='naziv' [(ngModel)]='currentUser.ime'>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>   
                           Prezime:
                        </td>   
                       <td>
                           <input type='text' name='naziv' [(ngModel)]='currentUser.prezime'>
                       </td>
                   </tr>
                   
                    <tr>
                        <td>
                            Skraćeni naziv preduzeća:
                        </td>
                        <td>
                            <input type='text' name='skracenica' [(ngModel)]='currentUser.username' disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Datum rodjenja:
                        </td>
                        <td>
                            <input type='text' name='datum' [(ngModel)]='currentUser.date'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mesto rodjenja:    
                        </td>
                        <td>
                            <input type='text' name='mesto' [(ngModel)]='currentUser.place'>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Broj telefona:   
                        </td>
                        <td>
                            <input type='text' name='mesto' [(ngModel)]='currentUser.phone'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Adresa elektronske pošte:
                        </td>
                        <td>
                            <input type='text' name='mejl' [(ngModel)]='currentUser.mail'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-actions">
                            <button type='submit' (click)='update(currentUser)' class="btn btn-primary">Update</button>
                            </div>
                        </td>
                    </tr>
                    </table>
            
            
            
            
            </div>
          </div>
        </div>
      </div>



    </div>