<div align="center">
    ##INFO##
    <br/>
  <p>{{mojaSadnica.naziv}}</p>
  
  <p>{{mojaSadnica.proizvodjac}}</p>
  
  <p>{{mojaSadnica.progress}}</p>
  
  
  <div class="progress">
    <div class="progress-bar" role="progressbar"  [style.width.%]="mojaSadnica.progress" aria-valuenow="mojaSadnica.progress" aria-valuemin="0" aria-valuemax="100">{{mojaSadnica.progress}}%</div>
  </div>
  
    <br/>
    <br/>
    
    <button class="btn btn-primary" (click)='izvadi()'>Izvadi sadnicu</button>
  
  
  
  </div>