
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Always expand</a> -->
  <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
        width="30" height="30" alt="">
    </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
     
    </ul>
    <form class="form-inline my-2 my-md-0">
      <button type="button" class="btn btn-dark" (click)='logout()'>Logout</button>
    </form>
  </div>
</nav>

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Naziv</th>
        <th scope="col">Proizvođač</th>
        <th scope="col">Količina</th>
        <th scope="col">Tip</th>
        <th scope="col">Prosečna ocena proizvoda</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
  
    <tr *ngFor='let ras of myProducts; index as i'>
      <td>{{ras.naziv}}</td>
      <td> {{ras.proizvodjac}}</td>
      <td> {{ras.kolicina}}</td>
  
      <td>{{ras.tip}}</td>
      <td>{{ras.prosecnaOcena}}</td>
      <td>
        <div *ngIf='!ras.available'>
          Proizvod nije dostupan
        </div>
        <div *ngIf='ras.available'>
          Proizvod je dostupan
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)='view(ras)'>Info</button>
    </td>
      <td>
        <!-- <button type="button" class="btn btn-info">Buy this item</button> -->
      </td>
    </tr>
  
  
  </table>
  