
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Always expand</a> -->
    <a class="navbar-brand" href="#">
        <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
          width="30" height="30" alt="">
      </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <button type="button" class="btn btn-dark" (click)='login()'>Sign in</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-dark" (click)='register()'>Register</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-dark" (click)='registerCompany()'>Register your company</button>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <!-- <button type="button" class="btn btn-dark">Logout</button> -->
      </form>
    </div>
  </nav>

  <div class="image">
  <br>

<br><br>

<br>
<br>

<br>

  
  <div align="center">
      <h1><b>Welcome to FarmVille!</b></h1>
  </div>



</div>