
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://pnptc-media.s3.amazonaws.com/images/The_Importance_of_Sustainable_Agr.2e16d0ba.fill-1200x800.jpg');
    background-position:50% 50%;
  }