<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://www.kindpng.com/picc/m/55-553143_transparent-plant-cartoon-png-transparent-cartoon-plant-png.png"
        width="30" height="30" alt="">
    </a>
    <!-- <a class="navbar-brand" href="#">Home</a>  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
  

        
        <a class="nav-item nav-link" href="/registracijapreduzeca">Registruj preduzeće</a>

        <a class="nav-item nav-link" href="/prijava">Prijavi se</a>

      </div>
    </div>
  </nav>
  

<div class="image">
<div align="center">
    <br/>
    <br/>
<form>
    <table>
        <tr>
            <td>Ime:</td>
            <td>
                <input type='text' name='ime' [(ngModel)]='ime' required/> 
            </td>
        </tr>
        
        <tr>
            <td>Prezime:</td>
            <td>
                <input type='text' name='prezime' [(ngModel)]='prezime' required/> 
            </td>
        </tr>
        
        <tr>
            <td>Korisničko ime:</td>
            <td>
                <input type='text' name='korime' [(ngModel)]='korime' required/> 
            </td>
        </tr>

        
        <tr>
            <td>Lozinka:</td>
            <td>
                <input type='password' name='lozinka' [(ngModel)]='lozinka' required/> 
            </td>
        </tr>

        
        <tr>
            <td>Potvrdi lozinku:</td>
            <td>
                <input type='password' name='ponlozinka' [(ngModel)]='ponlozinka' required/> 
            </td>
        </tr>

        <tr>
            <td>Datum rođenja:</td>
            <td>
                <input type='date' name='datum' [(ngModel)]='datum' required/> 
            </td>
        </tr>

        <tr>
            <td>Mesto rođenja:</td>
            <td>
                <input type='text' name='mesto' [(ngModel)]='mesto' required/> 
            </td>
        </tr>

        <tr>
            <td>Kontakt telefon:</td>
            <td>
                <input type='text' name='telefon' [(ngModel)]='telefon' required/> 
            </td>
        </tr>

        <tr>
            <td>Adresa elektronske pošte:</td>
            <td>
                <input type='email' name='lozinka' [(ngModel)]='mejl' required/> 
            </td>
        </tr>   

        <tr>
            <td colspan="2">
        <div class="recaptcha">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcNMekUAAAAADwoZoV8HpFWOU7E7AZZIK_cz64_" required></re-captcha>
        </div>
            </td>
         </tr>

        <tr>
            <td colspan="2">
                <div class="form-actions">
                <button type='button' (click)='registrujSe()'  class="btn btn-primary">Registruj se!</button>
                </div>
            </td>
        </tr>

    </table>
</form>


<div *ngIf= "message">
    {{message}}
</div>


</div>

</div>